.NumberOne{
   background-color: rgb(181, 184, 190);
   padding-top: 100px;
   padding-bottom: 237px;
}

.Table{
    border: 1px solid rgb(148, 172, 169);
    width: 1010px;
    height: 250px;
    background-color: rgb(193, 211, 199);
}

.tableone{
    border: 1px solid rgb(148, 172, 169);
    width: 1010px;
    background-color: rgb(230, 226, 226);
    height: 54px;
}

.london{
    background-color: rgb(230, 226, 226);
    font-size: 33px;
    color: black;
    border:0;
}

.london:hover{
    background-color: rgb(165, 214, 236);
    color: black;
    width: 125px;
    text-align: left;
}


.paris{
    font-size: 33px;
    background-color: rgb(230, 226, 226);
    color: black;
    border:0;
}

.paris:hover{
    background-color: rgb(165, 214, 236);
    color: black;
    width: 90px;
    font-size: 33px;
    text-align: center;
}

.tokyo{
    font-size: 33px;
    background-color: rgb(230, 226, 226);
    color: black;
    border:0;
}

.tokyo:hover{
    background-color: rgb(165, 214, 236);
    color: black;
    width: 100px;
    font-size: 33px;
    text-align: center;
}

.ghost{
    display: none;
}


.loword1{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.loword2{
    padding-left: 10px;
}
.loword3{
    padding-left: 10px;
}



.paword1{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.paword2{
    padding-left: 10px;
}
.paword3{
    padding-left: 10px;
}



.toword1{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.toword2{
    padding-left: 10px;
}
.toword3{
    padding-left: 10px;
}

.selected1{
    background-color: rgb(198, 203, 204);
    width: 125px;
    color: blue;
}

.selected2{
    background-color: rgb(198, 203, 204);
    width: 90px;
    color: blue;
}

.selected3{
    background-color: rgb(198, 203, 204);
    width: 100px;
    color: blue;
}